<% if @show_play_again%>
  <h3>Would you like to play again?</h3> 
    <form action='/bet' method='get'>
      <input type='submit' value="Yes, please!" class="btn btn-success">
    </form>
      <form action='/end_game' method='get'>
        <input type='submit' value="No, not this time" class="btn btn-warning">
      </form>
<% end%>

<div id="player">
  <h3><%= session[:player_name] %>, your cards are:<br></h3>

    <% session[:player_cards].each do |card|%>
      <%= img(card) %>
    <% end %>
  <h4><%= session[:player_name] %>'s cards' total is <%= cards_total(session[:player_cards]) %></h4>
</div>

<div id="dealer">
  <h3>The dealer's cards are:<br></h3>
    <img src='/images/cards/cover.jpg' style='padding:2px;border:1px solid black;'>

    <% session[:dealer_cards].drop(1).each do |card|%>
      <%= img(card) %>
    <% end %>
</div>


<% if @show_hit_or_stay%>
  <h3>Would you like to hit or stay?</h3>
  <div id= "hit">
    <form action='/game/player/hit' method='post'>
      <input type='submit' name='hit' value="Hit" class="btn btn-success">
    </form>
  </div>
  <div id="stay">
    <form action='/game/player/stay' method='post'>
      <input type='submit' name='stay' value="Stay" class="btn btn-warning">
    </form>
  </div>
<% end%>